

html, body {
  height: 100%;
}
body {
  font-family: 'Quicksand',sans-serif;
}


.images {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  width: auto;
  height: 225px;
}

.seperator {
  width: 20rem;
  height: 0.1rem;
  background-color: #00e3b3;
}

.projectsHeader {
  text-align: center;
  padding-top: 2rem;
}

/*========================= main ==========================*/

.main {
  background-image: url('images/backgroundv2.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.main-caption {
  text-align: center;
  margin: 0 auto;
  font-size: 1.8rem;
  padding-bottom: 12rem;
}
.main-caption h1 {
  font-weight: bold;
}
.moving-arrow {
  -webkit-animation-duration: 300s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

/*=========================== gym, hired, splat ==============================*/

.feature-content {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 6rem 0;
}
.feature-content h1, p {
  margin-top: 1rem;
}
.link-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 992px) {
  .feature-content{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
  }
  .images {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
    width: auto;
    height: 125px;
  }
  .app-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 0rem;
  }
}

/*================================ app ==================================*/

.app-content {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 6rem 0;
}
.app-content h1, p {
  margin-top: 1rem;
}
.app {
  width: auto;
  height: 18rem;
}

/*============================ skills =========================================*/

.logos {
  width: auto;
  height: 5rem;
  margin: 1rem;
}
.skills-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}
.skills {
  background-color: #f4f4f4;
}

/*=========================== contact ============================*/

.about {
  background-image: url('images/backgroundv3.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
  height: 80%;
}
.about h1 {
  font-weight: bold;
}
.about-content {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: rgb(204, 204, 204);
  margin-top: 2rem;
  opacity: 0.8
}

/*============================ contact ===========================*/

.contact {
  background-color: black;
}
.contact h1 {
  color: white;
}
.social-links {
  width: auto;
  height: 4rem;
  margin: 1rem;
}
.contact-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.links{
  margin: 2rem;
}
.button {
  width: 6rem;
  color: white;
  height: auto;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/*==================== hover css ======================*/

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	transform: scale(1.1);
}
